{% extends "sistema_pet_shop/base.html"%}

{% block title %}Sistema Pet Shop{% endblock %}

{% block content %} 
    <h3>Acomodações de <a href="/detail-unidade/{{ acomodacoes.unidade.id }}">{{acomodacoes.unidade.nome}}</a></h3>
    <a href="/nova-acomodacao/{{ acomodacoes.unidade.id }}">
        <button class="btn btn-primary">Adicionar Acomodação</button>
    </a>
    <table class="table"  style="width:80% ">
        <tr>
            <th>Número</th>
            <th>Tamanho</th>
            <th>Unidade</th>
            <th></th>
            <th></th>
        </tr>
        {% for acomodacao in acomodacoes %}
        <tr>
            <td>{{ acomodacao.numero }}</td>
            <td>{{ acomodacao.tamanho }}</td>
            <td><a href="/detail-unidade/{{ acomodacao.unidade.id }}">{{ acomodacao.unidade.nome }}</a></td>

            <td>
                <a href="/editar-acomodacao/{{ acomodacao.id }}">
                    <button class="btn btn-primary">Editar</button>
                </a>
            </td>
            <td>
                <a href="/delete-acomodacao/{{ acomodacao.id }}">
                    <button class="btn btn-danger">Apagar</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}