{% extends "sistema_pet_shop/base.html"%}

{% block title %}Clientes{% endblock %}

{% block content %} 
    <a href="/novo-cliente">
        <button class="btn btn-primary">Cadastrar Cliente</button>
    </a>
    <table class="table"  style="width:80% ">
        <tr>
            <th>Cliente</th>
            <th>Telefone</th>
            <th></th>
            <th></th>
        </tr>
        {% for cliente in cliente_list %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.telefone}}</td>
            <td>
                <a href="/editar-cliente/{{ cliente.id }}">
                    <button class="btn btn-primary">Editar</button>
                </a>
            </td>
            <td>
                <a href="/delete-cliente/{{ cliente.id }}">
                    <button class="btn btn-danger">Apagar</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}