{% extends "sistema_pet_shop/base.html"%}

{% block title %}Clientes{% endblock %}

{% block content %} 
    <a href="/novo-cliente">
        <button class="btn btn-primary">Cadastrar Cliente</button>
    </a>
    <table class="table"  style="width:80% ">
        <tr>
            <th>Cliente</th>
            <th>Telefone</th>
            <th>Unidades</th>
            <th></th>
        </tr>
        {% for cliente in cliente_list %}
        <tr>
            <td><a href="/detail-cliente/{{ cliente.id }}">{{ cliente.nome }}</a></td>
            <td>{{ cliente.telefone}}</td>
            <td>
                {% for unidade in cliente.unidades.all %}
                    <a href="/detail-unidade/{{ unidade.id }}">{{ unidade.nome }}</a><br>
                {% endfor %}
            </td>
            <td>
                <a href="/editar-cliente/{{ cliente.id }}">
                    <button class="btn btn-primary">Editar</button>
                </a>
            </td>
            <td>
                <a href="/delete-cliente/{{ cliente.id }}">
                    <button class="btn btn-danger">Apagar</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}