{% extends "sistema_pet_shop/base.html"%}

{% block title %}Cliente {{cliente.nome}}{% endblock %}

{% block content %}
    <h3>Pets de {{cliente.nome}}</h3>
    <a href="/novo-pet/{{ cliente.id }}">
        <button class="btn btn-primary">Cadastrar Pet</button>
    </a>
    <table class="table"  style="width:80% ">
        <tr>
            <th>Pet</th>
            <th>Espécie</th>
            <th>Raça</th>
            <th>Sexo</th>
            <th></th>
            <th></th>
        </tr>
        {% for pet in cliente.pets %}
        <tr>
            <td>{{pet.nome}}</td>
            <td>{{pet.especie}}</td>
            <td>{{pet.raca}}</td>
            <td>{{pet.sexo}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}