{% extends "sistema_pet_shop/base.html"%}

{% block title %}Cliente {{cliente.nome}}{% endblock %}

{% block content %}
    <h3>Detalhes de {{cliente.nome}}</h3>
    <table class="table"  style="width:30% ">
        <tr><td>CPF: {{cliente.CPF}}</td></tr>
        <tr><td>Telefone: {{cliente.telefone}}</td></tr>
        <tr>
            {% if cliente.vip == True  %}
                <td>VIP: Sim</td>
            {% else %}
                <td>VIP: Não</td>
            {% endif %}
        </tr>
        <td>
            <a href="/editar-cliente/{{ cliente.id }}">
                <button class="btn btn-primary">Editar</button>
            </a>
        </td>
    </table>

    <br/>
    <br/>

    <h3>Pets de {{cliente.nome}}</h3>
    <a href="/novo-pet/{{ cliente.id }}">
        <button class="btn btn-primary">Cadastrar Pet</button>
    </a>
    <table class="table"  style="width:80% ">
        <tr>
            <th>Pet</th>
            <th>Espécie</th>
            <th>Raça</th>
            <th>Sexo</th>
            <th></th>
            <th></th>
        </tr>
        {% for pet in cliente.pets %}
        <tr>
            <td><a href="/detail-pet/{{ pet.id }}">{{ pet.nome }}</td>
            <td>{{pet.especie}}</td>
            <td>{{pet.raca}}</td>
            <td>{{pet.sexo}}</td>
            <td>
                <a href="/editar-pet/{{ pet.id }}">
                    <button class="btn btn-primary">Editar</button>
                </a>
            </td>
            <td>
                <a href="/delete-pet/{{ pet.id }}">
                    <button class="btn btn-danger">Apagar</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}