{% extends "sistema_pet_shop/base.html"%}

{% block title %}Funcionários de {{funcionarios.unidade.nome}} {% endblock %}

{% block content %} 
    <h3>Funcionários de <a href="/detail-unidade/{{ funcionarios.unidade.id }}">{{funcionarios.unidade.nome}}</a></h3>
    <a href="/novo-funcionario/{{funcionarios.unidade.id}}">
        <button class="btn btn-primary">Cadastrar Funcionário</button>
    </a>
    <table class="table"  style="width:80% ">
        <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th></th>
            <th></th>
        </tr>
        {% for funcionario in funcionarios %}
        <tr>
            <td><a href="/detail-funcionario/{{ funcionario.id }}">{{ funcionario.nome }}</a></td>
            <td>{{funcionario.cargo}}</td>
            <td>
                <a href="/editar-funcionario/{{ funcionario.id }}">
                    <button class="btn btn-primary">Editar</button>
                </a>
            </td>
            <td>
                <a href="/delete-funcionario/{{ funcionario.id }}">
                    <button class="btn btn-danger">Apagar</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}